**/.env
**/.git
**/.gitignore
**/.vscode
**/charts
**/cloudbuild*
**/docker-compose*
**/Dockerfile*
**/build
**/node_modules
**/npm-debug.log
**/secrets.dev.yaml
**/values.dev.yaml
app/web/public/styles.css
